[package]
name = "arrive"
version = "0.2.0"
authors = ["Marcin Puc <tranzystorek.io@protonmail.com>"]
edition = "2021"
description = "A simple CLI tool for interacting with Advent of Code"
repository = "https://github.com/tranzystorek-io/arrive"
license = "MIT"
keywords = ["advent", "aoc", "cli", "tool"]
categories = ["command-line-utilities"]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[[bin]]
name = "arv"
path = "src/main.rs"

[dependencies]
anyhow = "1.0"
clap = { version = "4.0", features = ["derive"] }
clap_complete = "4.0"
dirs = "4.0"
minreq = { version = "2.6", features = ["https"] }
serde = { version = "1.0", features = ["derive"] }
toml = "0.5"
